* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	background-color: #fff;
	color: #555;
	font-family: 'Lato', 'Helvetica', 'Arial', sans-serif;
	font-weight: 300;
	font-size: 20px;
	text-rendering: optimizeLegibility;
}

.row {
	max-width: 1140px;
	margin: 0 auto;
}

section {
	padding: 80px 0;
}

.box {
	padding-top: 10px ;
}

/* 	HEADER */

header {
	background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(images/hero.jpg);
	background-size: cover;
	background-position: center;
	height: 100vh;
}

.hero-text-box {
	position: absolute;
	width: 1140px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.logo {
	height: 100px;
	width: auto;
	float: left;
	margin-top: 20px;
}

.main-nav {
	float: right;
	list-style: none;
	margin-top: 30px;
}

.main-nav li {
	display: inline-block;
	margin-left: 40px \;
}

.main-nav li a:link,
.main-nav li a:visited {
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 75%;
	margin-left: 40px;
	border-bottom: 2px solid transparent;
	padding: 8px 0;
	transition: border-bottom 0.5s;
}

.main-nav li a:hover,
.main-nav li a:active {
	border-bottom: 2px solid #e67e22;
}

/*	HEADINGS: ;*/

h1, 
h2,
h3 {
	font-weight: 300;
	text-transform: uppercase;
	letter-spacing: 1px;
	word-spacing: 3px;
}

h1 {
	margin: 0;
	margin-bottom: 20px;
	color: #fff;
	font-size: 250%;
	word-spacing: 3px;

}

h2 {
	 font-size: 180%;
	 word-spacing: 2px;
	 text-align: center;
	 margin-bottom: 30px;
	 font-weight: 500;
}

h2:after {
	display: block;
	height: 2px;
	background-color: #e67e22;
	content: "";
	width: 100px;
	margin: 0 auto;
	margin-top: 30px;
}

h3 {
	font-size: 110%;
	margin-bottom: 15px;
	font-weight: 400;

}

/* 	ICON   */
.icon-big {
	font-size: 300%;
	color: #e67e22;
	margin-bottom: 10px;
}

/*	PARAGRAPHS: */
.long-copy {
	line-height: 145%;
	width: 70%;
	margin-left: 15% ;
}

.box p {
	font-size: 90%;
	line-height: 145%;
}

/*	FEATURES   */

.section-features .long-copy {
	margin-bottom: 40px
}

/*	BUTTTONS: */

.btn:link,
.btn:visited{
	display: inline-block;
	padding: 10px 20px;
	font-weight: 300;
	text-decoration: none;
	border-radius: 200px;
	color: #fff;
	transition: background-color 0.5s, border 0.5s, color 0.5s;
}

.btn-full:link,
.btn-full:visited {
	background-color: #e67e22;
	border: 1px solid #e67e22;
	margin-right: 15px;
}

.btn-ghost:link,
.btn-ghost:visited {
	border: 1px solid #e67e22;
	color: #e67e22;
}

.btn-full:hover,
.btn-full:active {
	background-color: transparent;
	border: 1px solid #fff;
	color: #e67e22;
}

.btn-ghost:hover,
.btn-ghost:active {
	background-color: #cf6d17;
	border: 1px solid #cf6d17;
	color: #fff;
}

/*	MEALS   */
.section-meals {
	padding:0;
}

.meals-showcase {
	list-style: none;
	width: 100%;
}

.meals-showcase li {
	display: block;
	float: left;
	width: 25%;
}

.meal-photo {
	width: 100%;
	margin: 0;
	overflow: hidden;
	background-color: #000;
}

.meal-photo img {
	width: 100%;
	height: auto;
	transform: scale(1.15);
	transition: transform  0.5s, opacity 0.5s;
	opacity: 0.8;
}

.meal-photo img:hover {
	transform: scale(1.03);
	opacity: 1;
}

/*	HOW IT WORKS   */
.section-steps {
	background-color: hsl(100, 15%, 99%);
}

.steps-box {
	margin-top: 30px;
}

.steps-box:first-child {
	text-align: right;
	padding-right: 3%;
}

.steps-box:last-child {
	text-align: left;
	padding-left: 3%;
}

.app-screen {
	width: 40%;
}
